@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #03CE16;
    --business: #5361F7;
    --personal: #5F240C;
    --light: #EEE;
    --dark: #313154;
    --danger: #ff5b57;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --business-glow: 0px 0px 4px rgba(83, 97, 247, .5);
    --personal-glow: 0px 0px 4px rgba(95, 36, 12, .5);
}